#option{
  background: rgb(211, 245, 207);
  border: 1px solid rgb(3, 63, 3);
  margin: 4px;
  padding: 1px;
}
#option:hover {
  cursor: pointer;
  background-color: rgb(18, 228, 64);
  color: white;
}

#timer{

  margin-top: 40px;
}

